#main-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-div {
  background-color: white;
  width: 60%;
  height: 50%;
  border-radius: 4px;
}

.modal-title {
  padding: 35px;
  font-size: 35px;
}

input {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  border-color: rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 80px auto;
}

#button {
  height: 40px;
  width: 30%;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2);
}

.button-1 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
}

.button-2 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
}

.button-1:hover {
  background-color: orangered;
  color: white;
}

.button-2:hover {
  background-color: dodgerblue;
  border-radius: dodgerblue;
  border-radius: 3px;
}



@media (max-width: 850px) {
  #inner-div {
    background-color: white;
    width: 60%;
    height: 70%;
    border-radius: 4px;
  }

  input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    border-color: rgba(0, 0, 0, 0.2);
  }

  .buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  
  #button {
    height: 30px;
    width: 80%;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 10px 0px;
  }
}